# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Logs and databases
*.log
*.sqlite3

# IDE / Editor configs
.vscode/
.idea/

# Local OS files
Thumbs.db
Desktop.ini
.DS_Store
node_modules/
